{% extends 'use/base.html '%}
{% block content%}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10 col-sm-12 text-center">
        <h1 class="display-2">Build it Your Own Way</h1>
        <p class="mt lead">Connect With Suitable Worker ,Build your Dream home</p>
        <div class="d-flex justify-content-center mt-5">
          <a href="login" class="btn btn-dark mr-2">Login</a>
          <a href="register" class="btn btn-warning mr-2">Register</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}